

*{
	margin: 0;
	padding: 0;

}

/*Principal*/
#bodymain{
	width: 100%;
	height: 100vh;
	display: flex;
}

#formlogin{
	width: 80%;
	max-width: 450px;
	margin: auto;
}


/*MAPA*/
 #map {
 	width: 100%;
	height:100%;
	}
	.info {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		border-radius: 5px;
		bottom: 45px !important;
		right: 5px !important;
		position: fixed;
	}
	.info h4 {
		padding-right: 5px;
		margin: 0 0 5px;
		font-size: 17px;
	}
	.leaflet-top{
		position: relative;
	}
	.info p{
		text-align: center;
	}
	.leaflet-control-attribution{
		display: none;
	}
	.leaflet-control-zoom{
		position: fixed;
		bottom: 45px;
	}
	#msj {
		box-sizing: border-box;
		position: fixed;
		z-index: 1000000;
		background: #66bf7e;
		color: #fff;
		width: 100%;
		padding: 10px;
		transition: all 0.5s;
		margin-top: -38px;
		font-family: 'Arial', sans-serif;
		text-align: center;
		height: 38px;
	}
	#msj p{
		margin: 0px !important;
	}
	#cord{
		position: fixed;
		z-index: 1000020;
		bottom: 0px;
	}
	.leaflet-marker-pane {
		margin-left: 20px;
	}
	.leaflet-popup-pane{
		margin-left: 20px;
	}

	/*mensaje de conexion*/
	#conectado{
		position: fixed;
		z-index: 1005;
		bottom: -50px;
		width: 100%;
		height: 40px;
		color: #fff;
		text-align: center;
		opacity: 0;
		transition: all 0.7s;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* Alertas admin */
	

.Alerta1 {
    position: fixed;
    z-index: 1200;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    background: red;
    color: #fff;
}

/* Menu superior */
.menuTop {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    background: #fff;
    display: flex;
}

.mcompleto {
    width: 100%;
    max-width: 1200px;
    height: 40px;
    background: #fff;
    display: flex;
    padding: 5px;
    top: 0;
    position: relative;
    margin: 0px auto;
}
.btn-admin {
    padding: 5px;
    margin: auto 5px;
    cursor: pointer;
    display: flex;
}
.btn-turno {
    padding: 5px;
    margin: auto 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
}
/* Modales */
.flots {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    background: #00000057;
}
.inputError{
	color: rgb(206, 28, 28);
	text-align: center;
	width: 100%;
}
.formAlta {
	position: relative;
	flex-wrap: wrap;
    width: 100%;
    max-width: 450px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.Turno{
	position: relative;
    flex-wrap: wrap;
    width: 100%;
    max-width: 450px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
}
.enviarRegistro {
    width: 100%;
}
.campoForm {
    width: 48%;
    padding: 5px;
}
.cerrar-modal {
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.campoForm h4 {
    font-size: 20px;
}
/* Animacion */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fast {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.low {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}